
.cripto-native-area {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cripto-native-content {
    max-width: 645px;
    margin-left: 100px;
    h2 {
        font-size: 44px;
        font-family: $body-fonts;
        color: #fff;
        line-height: 60px;
        margin-bottom: 20px;
        max-width: 620px;
    }
    p {
        color: #fff;  
        font-size: 18px;
        line-height: 27px;
    }
    ul {
        list-style: none;
        margin: 50px 0px 0px;
        padding: 0;
        li {
            display: block;
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 25px;
            color: #fff;
            position: relative;
            padding-left: 35px;
            i {
                position: absolute;
                content: "";
                left: 0;
                top: 5px;
                font-size: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// Responsive 
@media screen and (max-width: 767px){
    .cripto-native-content{
        margin-left: 0;
    }
}
@media screen and (max-width: 575px){
    .cripto-native-content {
        h2 {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            line-height: 25px;
        }
        ul {
            margin: 30px 0px 0px;
            li {
                font-size: 16px;
                padding-left: 30px;
                margin-bottom: 15px;
                i {
                    font-size: 18px;
                }
            }
        }
    }
}