.accordion-wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.single-accordion {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    padding: 30px 25px 30px 30px;
    margin-bottom: 20px;
    @include transition(.3s);
    position: relative;

    &.active {
        .accordion-head {
            h6 {
                &::after {
                    transform: translateY(-50%) rotate(0deg);
                }
            }
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.accordion-head {
    cursor: pointer;
    h6 {
        position: relative;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.3;
        color: #20222A;
        margin: 0;
        padding: 0;
        padding-right: 30px;
        &::before, &::after {
            position: absolute;
            content: "";
            width: 20px;
            height: 2px;
            background: #2F3A58;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all .4s ease-in-out;
        }
        &::after {
            transform: translateY(-50%) rotate(-90deg);
        }
    }
}

.accordion-body {
    display: none;
    padding: 0;
    padding-top: 20px;
    max-width: 995px;
    p {
        font-size: 16px;
        line-height: 1.4;
        color: #425075;
    }
}
.accordion-list {
    margin-top: 30px;
    display: flex;
    max-width: 830px;
    justify-content: space-between;
    .list-rong, .list-right {
        max-width: 430px;
        ul {
            li {
                font-size: 16px;
                line-height: 29px;
                color: #425075;
                display: flex;
                align-items: center;

                i {
                    color: #EF0000;
                    margin-right: 5px;
                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }
    }
    .list-right {
        ul {
            li {
                i {
                    width: 16px;
                    height: 16px;
                    background-color: #00C30F;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    border-radius: 3px;
                    box-shadow: 1px -1px 2px #2c2b2b;
                }
            }
        }
    }
}

// Responsive 
@media screen and (max-width: 991px){
    .accordion-list {
        .list-rong, .list-right {
            ul {
                li {
                    line-height: 22px;
                    align-items: baseline;
                    margin-bottom: 7px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .accordion-list {
        flex-direction: column;
        margin-top: 20px;
        .list-right {
            margin-top: 20px;
        }
    }
}
@media screen and (max-width: 575px) {
    .single-accordion {
        border-radius: 5px;
        padding: 20px 20px 20px 20px;
        margin-bottom: 15px;
    }
    .accordion-head {
        h6 {
            font-size: 16px;
            &::before, &::after {
                width: 15px;
            }
        }
    }
    .accordion-body {
        padding-top: 15px;
        p {
            font-size: 14px;
        }
    }
    .accordion-list {
        .list-rong, .list-right {
            ul {
                li {
                    font-size: 14px;
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
