
.footer-area {
    background-color: #202D27;
    padding: 20px 0px;
}

.footer-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list {
    ul {
        display: flex;
        align-items: center;
        li {
            margin-right: 30px;
            font-size: 16px;
            line-height: 20px;
            color:#FFFFFF;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.footer-content {
    p {
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }
}

// Responsive 
@media screen and (max-width: 991px){
    .footer-wrapper {
        justify-content: center;
        flex-direction: column;
    }
    .footer-list {
        ul {
            li {
                margin: 0px 20px;
                &:last-child {
                    margin-right: 20px;
                }
            }
        }
    }
    .footer-content {
        margin-top: 20px;
    }
}
@media screen and (max-width: 767px){
    .footer-list {
        ul {
            li {
                margin: 0px 10px;
                &:last-child {
                    margin-right: 10px;
                }
            }
        }
    }
}
@media screen and (max-width: 575px){
    .footer-list {
        ul {
            flex-direction: column;
            li {
                margin: 0px 0px;
                margin-bottom: 10px;
                &:last-child {
                    margin-right: 0px;
                    margin-bottom: 0;
                }
            }
        }
    }
    .footer-content {
        margin-top: 15px;
    }
}