.header-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    .logo {
        max-width: 120px;
        margin: 0 auto;
    }
}

.hero-area {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 510px;
    margin: 0 auto;
    padding: 170px 0px 220px;
    text-align: center;

    h2 {
        font-size: 56px;
        line-height: 120%;
        margin-bottom: 15px;
        font-family: 'Airbnb Cereal App Bold';
    }
    p {
        font-size: 20px;
        line-height: 1.5;
        color: $heading-color;
        margin-bottom: 0;
        font-weight: 400;
    }
    h4 {
        font-size: 24px;
        line-height: 1.4;
        font-weight: 500;
        margin-top: 15px;
    }
}

.event-timer {
    text-align: center;
    margin-top: 40px;
    .cdown {
        display: inline-flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0px 24px;
        span {
            font-size: 40px;
            color: $theme-color;
            line-height: 1;
            display: block;
            margin-bottom: 10px;
            font-family: 'Airbnb Cereal App Extra Bold';
        }
    
        p {
            font-size: 18px;
            color: #263A45;
            line-height: 23px;
            text-transform: lowercase;
            letter-spacing: 1px;
            font-family: 'Airbnb Cereal App book';
        }
    }
}

// Responsive 
@media screen and (max-width: 767px){
    .header-area {
        top: 20px;
    }
    .hero-content {
        h2 {
            font-size: 44px;
        }
    }
}
@media screen and (max-width: 575px){
    .hero-content {
        padding: 150px 0px;
        h2 {
            font-size: 36px;
        }
        p {
            font-size: 18px;
        }
        h4 {
            font-size: 20px;
        }
    }
    .event-timer {
        text-align: center;
        margin-top: 25px;
        .cdown {
            margin: 0px 15px;
            span {
                font-size: 36px;
            }
        
            p {
                font-size: 18px;
                color: #263A45;
                line-height: 23px;
                text-transform: lowercase;
                letter-spacing: 1px;
                font-family: 'Airbnb Cereal App Light';
            }
        }
    }
}