.partners-area {
    padding-bottom: 90px;
}
.partner-wrapper {
    max-width: 1115px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

// Responsive 
@media screen and (max-width: 991px) {
    .partners-area {
        padding-bottom: 50px;
    }
    .partner-wrapper {
        justify-content: center;
    }
    .single-partner {
        margin: 20px 30px;
    }
}
@media screen and (max-width: 767px) {
    // .partners-area {
    //     padding-bottom: 50px;
    // }
    .partner-wrapper {
        justify-content: center;
    }
    .single-partner {
        max-width: 150px;
        max-height: 50px;
        margin: 20px;
        img {
            width: 100%;
        }
    }
}
@media screen and (max-width: 575px) {
    .single-partner {
        max-width: 100px;
    }
}
