.section-title {
    max-width: 310px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    h2 {
        font-size: 42px;
        color: #000000;
        position: relative;
        line-height: 1.5;
        margin: 0;
        padding-bottom: 20px;
        &::before {
            position: absolute;
            content: "";
            width: 85px;
            height: 8px;
            background-color: #52A875;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

// Responsive 
@media screen and (max-width: 575px){
    .section-title {
        margin-bottom: 30px;
        h2 {
            font-size: 30px;
            padding-bottom: 10px;
            &::before {
                height: 5px;
            }
        }
    }
}