
.signup-wrapper {
    background: #202D27;
    border-radius: 20px;
}

.signup-title {
    text-align: center;
    margin-bottom: 50px;
    h2 {
        color: #fff;
        font-size: 42px;
        line-height: 57px;
        font-family: $body-fonts;
        margin: 0;
    }
}
.signup-box {
    max-width: 560px;
    margin: 0 auto;
    position: relative;
    padding: 0px 15px;
    input {
        width: 100%;
        height: 54px;
        background: transparent;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        padding: 15px 155px 15px 20px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 1;
        
        &::-moz-placeholder {
            font-size: 18px;
            line-height: 1;
            color: #C0C0C0;
        }
        &::placeholder {
            font-size: 18px;
            line-height: 1;
            color: #C0C0C0;
        }
    }
    button {
        position: absolute;
        content: "";
        height: 100%;
        right: 0;
        top: 0;
        border-radius: 0px 5px 5px 0px;
        border-width: 0;
        outline: none;
        padding: 15px 35px;
        color: $heading-color;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
    }
}

// Responsive 
@media screen and (max-width: 767px){
    .signup-wrapper {
        border-radius: 0px;
    }
    .signup-title {
        margin-bottom: 30px;
        h2 {
            font-size: 30px;
            line-height: 45px;
        }
    }
    .signup-box {
        max-width: 360px;
        input {
            padding-right: 20px;
            height: 50px;
            font-size: 16px;
            &::-moz-placeholder {
                font-size: 16px;
            }
            &::placeholder {
                font-size: 16px;
            }
        }
        button {
            position: unset;
            border-radius: 10px;
            padding: 17px 30px;
            font-size: 16px;
            line-height: 1;
            width: 100%;
            margin-top: 15px;
        }
    }
}