
.subscribe-area {
    background-color: $theme-color;
    padding: 60px 0px;
}
.subscribe-box {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    input {
        width: 100%;
        height: 54px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        padding: 15px 155px 15px 20px;
        color: #C0C0C0;
        font-size: 18px;
        line-height: 1;
        
        &::-moz-placeholder {
            font-size: 18px;
            line-height: 1;
            color: #C0C0C0;
        }
        &::placeholder {
            font-size: 18px;
            line-height: 1;
            color: #C0C0C0;
        }
    }
    button {
        position: absolute;
        content: "";
        height: 100%;
        right: 0;
        top: 0;
        border-radius: 0px 10px 10px 0px;
        border-width: 0;
        outline: none;
        padding: 15px 35px;
        color: $heading-color;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
    }
}

// Responsive 
@media screen and (max-width: 575px){
    .subscribe-area {
        padding: 40px 0px;
    }
    .subscribe-box {
        max-width: 400px;
        input {
            padding-right: 20px;
            height: 50px;
            font-size: 16px;
            &::-moz-placeholder {
                font-size: 16px;
            }
            &::placeholder {
                font-size: 16px;
            }
        }
        button {
            position: unset;
            border-radius: 10px;
            padding: 17px 30px;
            font-size: 16px;
            line-height: 1;
            width: 100%;
            margin-top: 15px;
        }
    }
}