
.tracking-area-wrapper {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.tracking-content {
    max-width: 336px;
    margin-right: 80px;
    h4 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 30px;
    }
    p {
        font-size: 16px;
        color: #5D6673;
        line-height: 24px;
    }
}


// Treacking Details 
.tracking-details {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(42, 87, 63, 0.07), 0px 40px 80px rgba(65, 80, 70, 0.25);
    border-radius: 13.5887px;
    padding-right: 30px;
}
.track-top-bar {
    position: relative;
    img {
        border-radius: 13px 13px 0px 0px;
    }
    a {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 8px;
        line-height: 1;
        color: #7A8E9D;
    }
}


.track-dtls-wrapper {
    display: flex;
}

.track-dtls-thumb {
    position: relative;
    // width: 60%;
    max-width: 350px;
    width: 100%;
    margin-right: 20px;
    img {
        width: 100%;
    }
    figcaption {
        font-size: 8px;
        line-height: 16px;
        background-color:#192D2B;
        color: #B5D1C1;
        padding: 3px 0px;
        text-align: center;
        border-radius: 0px 0px 0px 13px;
        display: block;
    }
}

.track-dtls-content {
    position: relative;
    // width: 40%;
    max-width: 300px;
    width: 100%;
    .track-tag {
        position: absolute;
        max-width: 36px;
        max-height: 57px;
        top: 0;
        right: 0;
        z-index: 99;
    }
    .title {
        margin-top: 13px;
        span {
            color: #158D0C;
            font-size: 9px;
            line-height: 12px;
            font-weight: 700;
            display: block;
        }
        h4 {
            font-size: 22px;
            line-height: 29px;
            font-weight: 700;
            color: #22262F;
            margin-top: 4px;
            display: block;
        }
    }
}

.location-wrapper {
    display: flex;
    margin-top: 16px;
    .location {
        max-width: 150px;
        width: 100%;
        margin-right: 30px;
        h6 {
            font-size: 12px;
            line-height: 20px;
            color: #15203E;
            font-family: $body-fonts;
            margin-bottom: 7px;
        }
        a {
            display: block;
            font-size: 11px;
            line-height: 1;
            color: #425075;
        }
    }
    .dai {
        h6 {
            font-size: 12px;
            line-height: 20px;
            color: #15203E;
            font-family: $body-fonts;
            margin-bottom: 7px;
        }
        p {
            display: block;
            font-size: 11px;
            line-height: 1;
            color: #425075;
        }
    }
}

.owner {
    margin-top: 16px;
    h4 {
        font-size: 12px;
        color: #15203E;
        line-height: 1.5;
        font-family: $body-fonts;
    }
    .owner-wrapper{
        display: inline-flex;
        background: #F5F6FF;
        border-radius: 4px;
        align-items: center;
        img {
            max-width: 20px;
            max-height: 20px;
            width: 100%;
            height: 100%;
        }
        a {
            font-size: 12px;
            line-height: 17px;
            color: #2C374B;
            padding: 0px 6px;
            font-family: $body-fonts;
            margin: 0;
        }
    }
}

.recent-update {
    margin-top: 25px;
    h4 {
        font-size: 12px;
        color: #15203E;
        line-height: 1.5;
        font-family: $body-fonts;
    }
}
.update-post {
    overflow-y: auto;
    height: 240px;
    .single-updeate {
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        border-radius: 8px;
        padding: 8px 10px;
        margin-bottom: 8px;
        .post-inner {
            display: flex;
            align-items: center;
            .icon {
                width: 36px;
                height: 36px;
                background-color: #EBFBED;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 7px;
                img {
                    max-height: 17px;
                    max-width: 17px;

                }
            }
            .title {
                h6 {
                    font-size: 12px;
                    color: #2C374B;
                    line-height: 1.5;
                    font-family: $body-fonts;
                    span {
                        font-size: 8px;
                        display: block;
                        color: #A2A6B2;
                    }
                }
            }
        }
        .gallery {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
           
            .single-gallery {
                margin: 0;
                padding: 0;
                overflow: hidden;
                img {
                    transition: all .7s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

// Responsive 
@media screen and (max-width: 1199px) {
    .tracking-area-wrapper {
        flex-direction: column;
    }
    .tracking-content {
        max-width: 500px;
        margin: 0px 0px 30px 0px;
        text-align: center;
        h4 {
            margin-bottom: 15px;
        }
    }
}
@media screen and (max-width: 767px) {
    .tracking-details {
        padding-right: 0px;
    }
    .track-dtls-wrapper {
        flex-direction: column;
        padding: 0px 20px 20px;
    }
    .track-dtls-thumb {
        max-width: 100%;
        margin-right: 0;
    }
    .track-dtls-content {
        max-width: 400px;
        margin: 30px auto 0px;
    }
    .update-post {
        height: 100%;
    }
}
@media screen and (max-width: 575px) {
    .tracking-details {
        border-radius: 10px;
    }
    .tracking-content {
        margin: 0px 0px 20px 0px;
        h4 {
            font-size: 30px;
        }
    }
}
